

<%= render 'shared/header' %>
<div class="goodnew-index-main">

<div class="container">

  <div class="row">




    <h1>いいNEWS</h1>


    <%= render @goodnews %>

  </div>

  </div>

</div>


<%= render 'shared/footer' %>
