<%= render 'shared/header' %>

<div class="container">

  <div class="row">

    <div class="goodnew-index-main">



    <h1>いいNEWS</h1>


    <%= render @goodnews %>

  </div>

  </div>

</div>


<%= render 'shared/footer' %>
