


<div class="col-md-4">

  <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="right" title="">


    <%= link_to image_tag(ijin.ijinimage) , ijin , {:target => "_blank"} %>


  </button>

 </div>
