<%= render 'shared/header' %>





<div class="row ijin-index-main">
  <div class="container ">

    <h2>あの偉人も、あの天才も鬱になっていた !</h2>



    <%= render @ijins %>


  </div>

</div>



<%= render 'shared/footer' %>
