<%= render 'shared/header' %>





<div class="row ijin-index-main">
  <div class="container ">

    <h2>あの偉人も、あの天才も鬱になっていた !</h2>


  <div class="col-md-4">

    <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="right" title="アインシュタイン">

      <a href="#" class="">
        <img src="/assets/ainsyutain.jpg" alt="...">
      </a>


    </button>

   </div>

   <div class="col-md-4">

     <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="right" title="Steave jobs">

       <a href="#" class="">
         <img src="/assets/jobs2.jpg" alt="...">
       </a>


     </button>

    </div>



    <div class="col-md-4">

      <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="right" title="アインシュタイン">

        <a href="#" class="">
          <img src="/assets/ainsyutain.jpg" alt="...">
        </a>


      </button>

     </div>




  </div>

</div>






<script type="text/javascript">

  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })

</script>


<%= render 'shared/footer' %>
