
<%= render 'shared/header' %>

<div class="container">

  <div class="row jobs-main">


    <a href="http://amzn.to/2nSSafM" target="_blank" >
      <h1>スティーブ・ジョブズ</h1>
    </a>

      <div class="col-md-5 jobs-content">
        <p>
          スティーブ・ジョブズ。誰もが知っている起業家。<br>
          誰もが見たことのあるiPhoneを作った人物。<br>
          Appleの創業者の一人。<br>
          ジョブズは鬱ではないが、アスペルガーやADHDではないかと噂された人物である。<br>
          ジョブズは感情的ですぐに切れる性格だったという。<br><br>
          そんなジョブスが革新的なパソコン、革命的なスマホを世に初めて出せたのは、もしかすると病気のお陰だったのかもしれない。<br>
          <br>



        </p>

      </div>

      <div class="col-md-7 jobs-image">
        <a href="http://amzn.to/2nSSafM" target="_blank" >
          <img src="/images/jobs.jpg" alt="">
        </a>

      </div>












    </div>
  </div>



</div>

<%= render 'shared/footer' %>
