
<%= render 'shared/header' %>

<div class="container">

  <div class="row jobs-main">

      <h1>スティーブ・ジョブズ</h1>

      <div class="col-md-5 jobs-content">
        <p>texttexttexttexttexttexttexexttexttexttexttexexttexttexttexttexexttexttexttexttexexttexttexttexttexexttexttexttexttexexttexttexttexttexexttexttexttexttexexttexttexttexttexexttexttexttexttexexttexttexttexttexexttexttexttexttexexttexttexttexttexexttexttexttexttexttexttexttexttext</p>

      </div>

      <div class="col-md-7 jobs-image">
        <img src="/images/jobs.jpg" alt="">
      </div>












    </div>
  </div>



</div>

<%= render 'shared/footer' %>
