
<%= render 'shared/header' %>


  <div class="container">
    <div class="book-main">

    <h1>私を変えてくれた本</h1>

    <div class="book-contents">


    <div class="row">
      <div class="col-md-4">

        <a target="_blank"  href="https://www.amazon.co.jp/gp/product/4781608558/ref=as_li_tl?ie=UTF8&camp=247&creative=1211&creativeASIN=4781608558&linkCode=as2&tag=saitoukazuki-22&linkId=8aa5e4a4b8ad60cd1aeab27a9e0e6145"><img border="0" src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=JP&ASIN=4781608558&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=saitoukazuki-22" ></a><img src="//ir-jp.amazon-adsystem.com/e/ir?t=saitoukazuki-22&l=am2&o=9&a=4781608558" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />

      </div>

      <div class="col-md-8 book-contents-text">
        <p>

        テキストテキストテキストテキストテキストテキストテキストテキスト
        テキストテキストテキストテキストテキストテキストテキストテキスト
        テキストテキストテキストテキストテキストテキストテキストテキスト
        テキストテキストテキストテキストテキストテキストテキストテキスト
        テキストテキストテキストテキストテキストテキストテキストテキスト
        テキストテキストテキストテキストテキストテキストテキストテキスト
        テキストテキストテキストテキストテキストテキストテキストテキスト

        </p>

      </div>

    </div>

    <hr>

  </div>
  <!-- book-contents 家入一真-->






      <div class="book-contents">


      <div class="row">
        <div class="col-md-4">

          <a target="_blank"  href="https://www.amazon.co.jp/gp/product/4478025800/ref=as_li_tl?ie=UTF8&camp=247&creative=1211&creativeASIN=4478025800&linkCode=as2&tag=saitoukazuki-22&linkId=21fb998a852a8e63c7bf7feaee983321"><img border="0" src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=JP&ASIN=4478025800&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=saitoukazuki-22" ></a><img src="//ir-jp.amazon-adsystem.com/e/ir?t=saitoukazuki-22&l=am2&o=9&a=4478025800" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />

        </div>

        <div class="col-md-8 book-contents-text">
          <p>

          テキストテキストテキストテキストテキストテキストテキストテキスト
          テキストテキストテキストテキストテキストテキストテキストテキスト
          テキストテキストテキストテキストテキストテキストテキストテキスト
          テキストテキストテキストテキストテキストテキストテキストテキスト
          テキストテキストテキストテキストテキストテキストテキストテキスト
          テキストテキストテキストテキストテキストテキストテキストテキスト
          テキストテキストテキストテキストテキストテキストテキストテキスト

          </p>

        </div>

      </div>

      <hr>

    </div>
    <!-- book-contents 家入一真-->














  </div>
  <!-- book-main -->

</div>
<!-- container -->

<%= render 'shared/footer' %>
