
<%= render 'shared/header' %>


  <div class="container">
    <div class="book-main">

    <h1>私を変えてくれた本</h1>

    <div class="book-contents">


    <div class="row">
      <div class="col-md-4">

        <a target="_blank"  href="https://www.amazon.co.jp/gp/product/4781608558/ref=as_li_tl?ie=UTF8&camp=247&creative=1211&creativeASIN=4781608558&linkCode=as2&tag=saitoukazuki-22&linkId=8aa5e4a4b8ad60cd1aeab27a9e0e6145"><img border="0" src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=JP&ASIN=4781608558&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=saitoukazuki-22" ></a><img src="//ir-jp.amazon-adsystem.com/e/ir?t=saitoukazuki-22&l=am2&o=9&a=4781608558" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />

      </div>

      <div class="col-md-8 book-contents-text">
        <p>
          <strong>家入一真&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;「こんな僕でも社長になれた」</strong><br><br>
          僕が初めて家入さんの本を読んだ本で、初めて読んだときは、衝撃的でした。<br>
          タイトルの通り、「こんな僕でも社長になれた」は家入さん自身が中学生時代からいじめなどで
          引きこもっていた過去を持つ人物ある。<br><br>
          僕自身がこの本を読む前は社長のイメージは『頭が良くて、社会的能力に長けていて、周りから信頼される』<br>
          ような完璧なイメージがあったのですが、この本を読んで社長のイメージがガラッと変わりました。<br>
          <br>
          そして、僕自身が起業に興味を持った本で、でもあります。<br>
          家入さんはロリポップをバイアウトし、上場させた人物で、賢い人です。<br>
          でも、この本では、ダメダメな自分をさらけ出していて、ダメダメな自分でも起業、上場できたんだから、<br>
          僕もちょっとはできるんじゃないかなと勇気をもらった本です。
          <br><br>
          この本は僕を変えてくれた一冊です。


        </p>

      </div>

    </div>

    <hr>

  </div>
  <!-- book-contents 家入一真-->






      <div class="book-contents">


      <div class="row">
        <div class="col-md-4">

        <a target="_blank"  href="https://www.amazon.co.jp/gp/product/4198630496/ref=as_li_tl?ie=UTF8&camp=247&creative=1211&creativeASIN=4198630496&linkCode=as2&tag=saitoukazuki-22&linkId=ed98f159d5ef5b7b7d62581ea8657613"><img border="0" src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=JP&ASIN=4198630496&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=saitoukazuki-22" ></a><img src="//ir-jp.amazon-adsystem.com/e/ir?t=saitoukazuki-22&l=am2&o=9&a=4198630496" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />


        
        </div>

        <div class="col-md-8 book-contents-text">
          <p>

          テキストテキストテキストテキストテキストテキストテキストテキスト
          テキストテキストテキストテキストテキストテキストテキストテキスト
          テキストテキストテキストテキストテキストテキストテキストテキスト
          テキストテキストテキストテキストテキストテキストテキストテキスト
          テキストテキストテキストテキストテキストテキストテキストテキスト
          テキストテキストテキストテキストテキストテキストテキストテキスト
          テキストテキストテキストテキストテキストテキストテキストテキスト

          </p>

        </div>

      </div>

      <hr>

    </div>
    <!-- book-contents 家入一真-->














  </div>
  <!-- book-main -->

</div>
<!-- container -->

<%= render 'shared/footer' %>
