
<%= render 'shared/header' %>


<div class="container">

  <div class="checker">

  <h1><%= fa_icon "calendar-check-o" %>うつ度チェッカー</h1>

  <div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow=".1" aria-valuemin="0" aria-valuemax="100">
      <span class="sr-only">60% Complete</span>
    </div>
  </div>



  <div class="row">
    <div id="items2">
    <div class="col-md-6">


      <label><input type="checkbox">寝起きがつらい</label><br>
      <label><input type="checkbox">疲れがなかなか取れない</label><br>

      <label><input type="checkbox">ちょっとした事で気が沈む</label><br>
      <label><input type="checkbox">自分なんていない方がいいと思う</label><br>

      <label><input type="checkbox">未来に対して希望が持てない</label><br>
      <label><input type="checkbox">気がつくと自分を責めている</label><br>

      <label><input type="checkbox">言いたい事が言えない</label><br>
      <label><input type="checkbox">喜怒哀楽がはっきりしない</label><br>

      <label><input type="checkbox">自分は独りだと思う</label><br>
      <label><input type="checkbox">時々何もしたくなくなる</label><br>


    </div>

    <div class="col-md-6">

      <label><input type="checkbox">なかなか元気が出ない</label><br>
      <label><input type="checkbox">何に対しても興味が持てない</label><br>

      <label><input type="checkbox">過去の失敗をいつまでも忘れない</label><br>
      <label><input type="checkbox">ぼんやり考え込んでしまうことが多い</label><br>

      <label><input type="checkbox">食欲がない</label><br>
      <label><input type="checkbox">悩みを人に言えない</label><br>

      <label><input type="checkbox">ときどき死を考える</label><br>
      <label><input type="checkbox">ついつい「いい人」になってしまう</label><br>

      <label><input type="checkbox">責任感に押し潰されることがある</label><br>
      <label><input type="checkbox">検索エンジンのキーワードに「自殺」と打ってしまう</label><br>


    </div>
</div>

    </div>
  </div>






    </div>
    <!-- checker -->


  </div>
  <!-- container -->



<%= render 'shared/footer' %>
