

<%= render 'shared/header' %>

<div class="good-news-main">


<div class="container">

  <h1>いいね記事</h1>

<div class="row">

  <div class="col-md-12">



    <div class="thumbnail good-news-thumbnail">
      <a href="http://www.huffingtonpost.jp/2017/02/23/shinya-suzuki-writes-manga-for-his-beloved-daughter_n_14975344.html" target="_blank">

      <img src="/images/manga-dougther.jpg" alt="">

    </a>

          <div class="caption">
            <h3>「将来死にたくなったらコイツを読め」漫画家・鈴木信也さんが娘に寄せた愛のメッセージに反響</h3>
          </div>
        </div>


      </div>
      </div>


    </div>

  </div>



  

<%= render 'shared/footer' %>
