

<%= render 'shared/header' %>

  <div class="top-title">
    <div class="bg-inner">

    <div class="container">
      <h1>傷ついた人たちへ</h1>
      <p>うつについてもっと知ってほしい、
        ゆっくりでいい、逃げてもいい、死なないで。
      </p>

    </div>
  </div>


</div>



<%= render 'shared/footer' %>
