




    <div class="book-contents">

      <div class="col-md-4">

        <div class="book-loop-main">

          <%= link_to image_tag(book.bookimage), book %>


        </div>

    </div>

    </div>
