




    <div class="book-contents">

      <div class="col-md-4">

        <div class="book-loop-main">

          <h2><%= simple_format(book.image) %></h2>
          <p><%= link_to 'レビューを見る', book %></p>


        </div>
      </div>


    </div>
