


<%= render 'shared/header' %>

  <div class="container">
    <div class="index-main">

      <div class="row">



      <h1 class="book-header-title">私を変えてくれた本</h1>

        <%= render @books %>

      </div>

    </div>

  </div>



<%= render 'shared/footer' %>
