
<%= render 'shared/header' %>



<div class="container">

  <div class="row">
    <div class=""></div>

    <div class="col-md-4">
      <p><%= simple_format(@book.image) %></p><br>

    </div>

    <div class="col-md-8">
      <p>texttexttexttexttexttexttexttext</p>
    </div>

  </div>






</div>



<%= render 'shared/footer' %>
