


<%= render 'shared/header' %>

  <div class="container">

    <div class="beanknow-main">

      <h1><%= fa_icon "book" %>鬱を知る</h1>

      <%= render @knowledges %>


  </div>
<!-- beanknow-main -->

  </div>
<!-- container -->










<%= render 'shared/footer' %>
