


<%= render 'shared/header' %>

  <div class="container">

    <div class="beanknow-main">

      <h1><%= fa_icon "book" %>鬱を知る</h1>



    <div class="bean-contents">

    <p class="date">2017, 03, 27</p>

    <a href="">
      <h2>鬱になりにくい人の特徴とは？</h2>
    </a>


    <hr>
<!--
    <p>
      鬱になりやすい人なりにく人に特徴があるのか？<br>
      実際になりやすい人、なりにくい人がいます。<br>
      具体的にあげると、<br>
      <br>
      ・<br>
      ・<br>
      ・<br>
      ・<br>

    </p> -->



    </div>



  </div>
<!-- beanknow-main -->

  </div>
<!-- container -->










<%= render 'shared/footer' %>
