// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



// show.html.erb






// index.html.erb

.index-main {

  margin-bottom: 100px;
  
}

.book-header-title {

  margin-top: 70px;
  margin-bottom: 70px;
  color: #999;

}


// _book.html.erb

.book-loop-main {

  h2 {

  }
}
