// Place all the styles related to the goodnews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




// index.html.erb


.goodnew-index-main {

  margin-bottom: 200px;

  h1 {
    margin-top: 50px;
    margin-bottom: 100px;
    color: #666;

  }
}

.goodnew-link {
  a {
    img {
      height: 280px!important;
      width: 380px!important;
    }
  }
}

.thumbnail {
  height: 500px!important;
}
