// Place all the styles related to the ijins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




// index.html.erb


.ijin-index-main {

  margin-bottom: 100px;

  h2 {
    margin-top: 70px;
    margin-bottom: 170px;
    text-align: center;
    font-weight: bold;
    font-size: 60px;

  }
  img {
    height: 400px;
    width: 300px;
  }
}



// show.html.erb

.ijin-show-main {

  margin-top: 70px;
  margin-bottom: 100px;

  h1 {
    color: #666;
    font-size: 50px;
    margin-bottom: 50px;


  }
}

.ijin-wrapper {
  margin-top: 50px;

}

.ijin-image {
  img {

    height: 600px;
    width: 500px;
    margin-left: 114px;

  }
}

.ijin-contents {
  p {
    color: #999;
  }
}


.ijin-sns {
  margin-top: 100px;
}
