// Place all the styles related to the knowledges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



// show.html.erb


.knowledge-show {

  margin-bottom: 100px;

  h2 {
    font-size: 47px;
    margin-bottom: 50px;
    color: #999;
  }

  p {
    font-family: serif;
    font-size: 16px;
    margin-left: 30px;
    font-family: serif;
    color: #666;
    line-height: 29px;
  }

}

.knowledge-show-date {

  margin-top: 60px;
  color: #999;


}

// _knowledge.html.erb

.bean-contents {

  a {
    color: #999;

  }
}
